body{
    background-color: black  !important;
    font-family: "Roboto Condensed", serif !important;
    font-optical-sizing: auto !important;
    font-weight: 700 !important;
    font-style: normal !important;
}
.nav-link.active{
text-decoration: underline black;
}
.opciones{
    display: grid;
    margin-top: 2%;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
}
.opcion{
    color: white;
    background-color: rgb(80, 80, 80);
    width: 55%;
    margin: 2%;
    text-decoration: none;
    text-align: center;
    border-radius: 15px;
    border: solid rgb(255, 196, 0);
}
.opcion:hover{
border: solid gray;
}
.icono{
    width: 40%;
}
/*CREAR MESA*/
.contenedorcreacion{
background-color: rgb(116, 116, 116);
color: white;
text-align: center;
width: 30%;
margin-left: 35%;
margin-top: 5%;
border-radius: 20px;
}
.numinfo{
    margin-top: 1%;
    text-align: center;
    color: white;
}
.formulariocreacion{
    padding: 10%;
    background-color: rgb(80, 80, 80);
}
input{
    text-align: center;
}
input[type="number"]{
    width: 20%;
    border-radius: 5px;
    border: none;
}
input[type="text"]{
    width: 55%;
    border-radius: 5px;
    border: none;
}
.btn.btn-warning.btn-lg.btn-block{
margin-top: 4%;
}